* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  line-height: 1.6;
  color: var(--primary-color);
  background-color: #f9f9f9;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.whatsapp-button img {
  width: 30px;
  height: 30px;
}

.whatsapp-button {
  position: fixed;
  top: 50%;
  bottom: 16px;
  right: 24px;
  width: 60px;
  height: 60px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: pointer;
  transition: all 0.3s ease;
}
.whatsapp-button:hover {
  background-color: #128C7E;
  transform: scale(1.1);
}
@keyframes pulsate {
  0% {
      box-shadow: 0 0 10px 0 rgba(37, 211, 102, 0.7), 0 0 20px 0 rgba(37, 211, 102, 0.5), 0 0 30px 0 rgba(37, 211, 102, 0.3); /* Verde con opacidad */
  }
  50% {
      box-shadow: 0 0 20px 10px rgba(37, 211, 102, 0), 0 0 30px 10px rgba(37, 211, 102, 0), 0 0 40px 10px rgba(37, 211, 102, 0); /* Aumenta el radio y disminuye opacidad */
  }
  100% {
      box-shadow: 0 0 10px 0 rgba(69, 238, 63, 0.7), 0 0 20px 0 rgba(37, 211, 102, 0.5), 0 0 30px 0 rgba(37, 211, 102, 0.3);
  }
}

 @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}
