:root {
    /* Colores principales */
    --color-orange: #F89D28;
    --color-lime: #3C9C5A;

    /* Colores secundarios */
    --color-dark-green: #226B3F;
    --color-light-gray: #F5F5F5;
    --color-dark-gray: #333333;

    /* Tipografías */
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Roboto', sans-serif;

    /* Otros */
    --border-radius: 5px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Archivo: header.css */
.header {
    background: var(--color-dark-green);
    color: var(--color-orange);
    font-size: bold;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
}

.header--scrolled {
    padding: 0.5rem 0;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0.9;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    
    width: 140px;
    height: auto;
}
.header .nav {
    order: 1; /* Mueve la navegación al inicio */
    flex-grow: 1; /* Permite que la navegación ocupe el espacio disponible */
    display: flex;
    justify-content: flex-end; /* Alinea el texto a la izquierda */
}

.header .nav-list {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    
}

.header .nav-list li a {
    color: var(--color-orange);
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    transition: background 0.3s ease;
}

.header .nav-list li a:hover {
    background:var(--color-dark-gray);
    border-radius: 5px;
}

/* Menú hamburguesa */
.menu-open,
.menu-close{
    display: none;
}
/* .nav__toggle {
    display: none;
    cursor: pointer;
  }
  .nav__toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--black-color);
    margin: 5px 0;
  }
  .nav .show{
    display: flex;
  }
 */
   @media screen and (max-width: 600px) {
    .menu-open,
    .menu-close{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .menu-close {
        top: 100%;
        z-index: 1000;
        position: absolute;
        color: var(--color-light-gray);
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 2rem;
        background-color: rgba(242, 242, 242, 0.5); /* Ajusta la opacidad del fondo */
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
        transition: opacity 0.3s ease, visibility 0.3s ease;       
    }
    .nav.active {            
            opacity: 1;
            visibility: visible;
        }
    .nav-list {
            flex-direction: column;
            text-align: center;
            align-items: flex-start;
            margin-top: 2rem;
        }
        
        .nav li a{
            color: var(--color-orange);
            text-decoration: none;
        }
    
  }
  @media (max-width: 900px) {
         /* Estilos para el botón WhatsApp */
        @media (max-width: 720px) {
            #bg-video {
                width:auto;
                height: auto;
            }
        }       
     @media (max-width: 600px) {
            .button {
                margin: 1rem 0;
            }
        }
  }
    @keyframes hero {
        0%
        {
          transform: rotate(0deg);
        }
        100%
        {
          transform: rotate(360deg);
        }
      }
      @keyframes spin {
           0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            @keyframes fadeIn {
                from { opacity: 0; }
                to { opacity: 1; }
            }
            
            body {
                animation: fadeIn 1s ease-in;
            }
            @media (min-width: 768px) {
                .hero h1 {
                    font-size: 3rem;
                }

                .hero p {
                    font-size: 1.5rem;
                }

                .about .services {
                    flex-direction: row;
                    justify-content: center;
                }

                .projects-grid {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
