:root {
    /* Colores principales */
    --color-orange: #F89D28;
    --color-lime: #3C9C5A;

    /* Colores secundarios */
    --color-dark-green: #226B3F;
    --color-light-gray: #F5F5F5;
    --color-dark-gray: #333333;

    /* Tipografías */
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Roboto', sans-serif;

    /* Otros */
    --border-radius: 5px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Hero con video de fondo */
.hero-video {
    position: relative;
    height: calc(100vh - 60px); /* Resta la altura del header */
    overflow: hidden;
    z-index: 0; /* Asegura que esté detrás del header */
}
.hero-video-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Oscurece el video */
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.hero-content {
    max-width: 800px;
    z-index: 3;
}

.hero-content h1 {
    font-size: 3rem;
    font-family: var(--font-title);
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-content h1 span {
    color: var(--color-orange);
    display: block;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-primary, .btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: var(--color-orange);
    color: white;
}

.btn-primary:hover {
    background-color: var(--color-dark-green);
}

.btn-secondary {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 768px) {
    .hero-video {
        height: calc(100vh - 50px); /* Ajusta para dispositivos móviles */
        padding: 0;
    }
}